node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
ios/build/
ios/Pods/
android/.idea/
android/.gradle/
android/app/build/
android/build/
dist/
package-lock.json
ios/glife.xcodeproj/project.xcworkspace/
ios/glife.xcodeproj/xcuserdata/
ios/glife.xcworkspace/
ios/assets
ios/main.jsbundle
.DS_Store
ios/glife.xcworkspace/xcuserdata/nitinissacjoy.xcuserdatad/UserInterfaceState.xcuserstate
